{% extends 'base.html.twig' %}

{% block title %}Nombre de Réservations{% endblock %}


{% block body %}
<h1>Nombre de Réservations</h1>
<p>Le nombre de réservations en cours est : {{countReservation }}</p>
{% endblock %}

