<form method="post" action="{{ path('app_reservation_crud_test_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir annuler votre réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="btn btn-outline-danger"><b>Annuler la réservation</b></button>
</form>
