{% extends 'base.html.twig' %}

{% block title %}E-mail réinitialisation mot de passe{% endblock %}

{% block body %}

<style>

    .conteneur {

        display: block;
        justify-content: center;
        padding: 100px;

    }

    .retourHome {
        display: flex;
        justify-content: center;
        margin-top: 50px;

    }

    #btnRetourHome {

        border: solid #E0B973;
        color: black;
        font-weight: bold;
        background-color: #E0B973;
        border-radius: 5px;
        padding: 10px;
        text-decoration:none;
    }

</style>

<div class="conteneur">


    <p>
        S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que
        vous
        pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
        'ResetPasswordBundle') }}.
    </p>

    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>


    <div class="retourHome">
        <a href="{{ path('home') }}" id='btnRetourHome'>Retour à la page d'accueil</a>
    </div>

</div>

{% endblock %}