{% extends 'base.html.twig' %}

{% block title %}Réinitialiser son mot de passe{% endblock %}

{% block body %}


<style>

    .conteneur {

        display: flex;
        justify-content: center;
        padding: 100px;

    }

    .formulaireReinitialisation{
        
        display: flex;
        justify-content: center;
        margin-top: 50px;

    }

    .blocReinitialisation {

        align-items: center;
        padding: 50px;
    }

    .boutonReinitialisation {
        display: flex;
        justify-content: center;
        margin-top: 50px;

    }

    #btnReinit {

        border: solid #E0B973;
        color: black;
        font-weight: bold;
        background-color: #E0B973;
        border-radius: 5px;
        padding: 10px;
        width: 50%;

    }
</style>

{% for flash_error in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}


<div class="conteneur">

    <div class="blocReinitialisation">

        <h1>Réinitialisez votre mot de passe</h1>

        {{ form_start(requestForm) }}

        <div class="formulaireReinitialisation">
            {{ form_row(requestForm.email) }}
        </div>

        <div class="texteReinit">
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <div class="boutonReinitialisation">
            <button id="btnReinit">Envoyer un e-mail de réinitialisation du mot de passe</button>
        </div>

        {{ form_end(requestForm) }}

    </div>

</div>

{% endblock %}