<div id="footer" class="card text-center bg-dark" data-bs-theme="dark">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Vice City Hôtel</h5>
      <p class="card-text"> {{ 'footer.titre1'|trans }} </p>
      <a href="/vister/lhotel" class="btn btn-primary" >{{ 'navbar.visite'|trans }}</a>
    </div>
    <div class="card-footer text-body-secondary">
      {{'footer.copyright'|trans }}
    </div>
  </div>
