
.conteneurHistoireViceCity{

    /* border: solid black 2px; */
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: rgb(247, 247, 231);
    margin-top: 100px;
    
}


.photo {
    max-width: 60%;
    height: auto;
    overflow: hidden; /* Pour pas que la photo dépasse de la div */
    margin-right: 30px;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* faire en sorte que l'image couvre toute la div */
}

.texte{

    /* border: solid pink 2px; */
    max-width: 40%;
    max-height: 40%;
    margin-left: 30px;
    padding: 10px;
}
