<div class="card text-bg-dark">
    <img src="/img/palm-trees-at-night.png" class="card-img" alt="image de welcome">
    <div class="card-img-overlay">
        <div class="container">
            <h5 class="card-titleo">BIENVENUE À</h5>
            <h3 class="card-title1">VICE CITY </h3>
            <h5 class="card-title2">HOTEL</h5>
        </div>
        <p class="card-text1">Réservez votre séjour et profitez d'un luxe redéfini à des tarifs des plus abordables.</p>
    </div>
    
    
</div>
<div class="arrow-down">
<button id="scroll-button" style="cursor: pointer;"><span class="sp">Cliquer pour visiter</span></button>
</div>
<div class="image-container" id="image-container">
    <ul>
        <li class="li"><img class="img" src="/img/fitness_centre-2 1.png" alt=""></li>
        <li class="li"><img class="img" src="/img/polsideBar.png" alt=""></li>
        <li class="li"><img class="img" src="/img/spa.png" alt=""></li>
        <li class="li"><img class="img" src="/img/swimingpool.png" alt=""></li>
        <li class="li"><img class="img" src="/img/restaurant.png" alt=""></li>
        <li class="li"><img class="img" src="/img/laundorry.png" alt=""></li>
    
    </ul> 
</div>

