{% block body %}
    <h1>Confirmation de réservation</h1>

    <p>Bonjour {{ app.user.nom }} {{app.user.prenom}},</p>

    <p>Merci d'avoir effectué une réservation.</p>
        
    <p>Voici un récapitulatif de votre réservation que vous trouverez en pièce-jointe</p>


    <p>A bientot!</p>

    <p>Vice city Hotel</p>

{% endblock %}